<div class="container week">
    <div class="row align-items-center pt-2">
        <div class="col-12  d-flex card text-center ">
            <div>
                <h1>Week 51</h1>
            </div>
        </div>

        <div class="col-12  d-flex card text-center ">
            <div>
                <blockquote>{{quote.q}}</blockquote>
            </div>
        </div>

        {{!-- <div class="row "> --}}
            {{!-- TODO set height of this col to same height as image (when retouched) --}}
            <div class="col-12 col-md-6 d-flex card text-center card-img-top">

                <div class="work eventbars" style="background-color:red"></div>

                <div class="study eventbars" style="background-color:blue"></div>

                <div class="sport eventbars" style="background-color:orange"></div>

                <div class="self-care eventbars" style="background-color:black"></div>

                <div class="social eventbars" style="background-color:purple"></div>

                <div class="relax eventbars" style="background-color:green"></div>

            </div>

            <div class="col-12 col-md-6 card-img-top">
                <a href="/calendar/all-events"><img src="/images/day-glass.png"></a>
            </div>
            {{!--
        </div> --}}



        <div class="col-12 col-md-6 d-flex card text-center ">
            <div class="card-list">
                <h3>All my events:</h3>
                {{#each events}}
                <a href="/calendar/event/{{_id}}">{{this.name}}</a>
                {{/each}}
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center ">
            <a href="/calendar/new-event/{{day_id}}" class="btn btn-outline-dark bg-dark btn-floating m-1 text-light"
                style="font-size: 60px; width: 100px">+</a>
        </div>
    </div>
</div>
<input hidden value="{{day_id}}" id="day-id">
<script src="../../js/APIHandler.js"></script>
<script src="../../js/index.js"></script>