<h1>Im an event look at me</h1>
<div class="event-box">
    <div>
        <h3>{{name}}</h3>
        <p>Category: {{category}}</p>
        <p>Duration: {{duration}}</p>
        <p>Description: {{description}}</p>
    </div>
</div>
<a href="/calendar/edit-event/{{_id}}">Edit event</a>

{{!-- <div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto">
      <h1 class="display-3">Hello, world!</h1>
    </div>
</div> --}}