<div class="container align-items-center event">
    <div class="row">
        {{!-- <div class="col-4"></div> --}}
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="text-left">
                <h3>{{name}}</h3>
                <p>Category: {{category}}</p>
                <p>Duration: {{duration}}</p>
                <p>Description: {{description}}</p>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center ">
            <a href="/calendar/edit-event/{{_id}}" class="btn btn-outline-dark btn-floating m-1">Edit event</a>
        </div>
</div>