<h1>Im an event look at me</h1>
<div>
    <h3>{{name}}</h3>
    <p>Category: {{category}}</p>
    <p>Duration: {{duration}}</p>
    <p>Description: {{description}}</p>
</div>
<a href="/calendar/edit-event/{{_id}}">Edit event</a>