<div class="container event">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="text-left">
            <h1>Welcome {{loggedUser.name}}</h1>
<hr>

<form action="/profile/edit/{{user._id}}" method="POST">

    <label for="">
        Name: 
        <br> 
        <input name="name" value="{{user.name}}" type="text">
    </label>
    </br>
    <br>

    <label for="">
        Username: 
        <br>
        <input name="username" value="{{user.username}}" type="text">
    </label>
    </br>
    <br>

    <label for="">
        Description: 
        <br>
        <input name="description" value="{{user.description}}" type="text">
    </label>
    </br>
    <br>

    {{#if isAdmin}}
    <label for="">
        Role: <input name="role" value="{{user.role}}" type="text">
    </label>
    {{/if}}

    <button type="submit" class="btn btn-outline-dark btn-floating m-1">Save</button>
</form>

{{#if isAdmin}}
<div>
    <div class="col-12">
        <br>
        <a href="profile/delete/{{user._id}}" class="btn btn-outline-dark btn-floating m-1">Delete</a>
    </div>
</div>
{{/if}}
            </div>
        
        </div>
</div>