
<div class="container align-items-center event">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="text-left">
                <h1>{{user.name}}'s profile</h1>
                <hr>
            <h3>Welcome {{user.name}}</h3>
            <p>{{user.description}}</p>
            <p>{{user.username}}</p>

            <div class="col-12 d-flex justify-content-center ">
            {{#if isOwn}}
            <a href="edit/{{user._id}}" class="btn btn-outline-dark btn-floating m-1">Edit</a>
            {{/if}}

            {{#if isAdmin}}
            <a href="edit/{{user._id}}" class="btn btn-outline-dark btn-floating m-1">Edit</a>
            {{/if}}
            </div>
            </div>
        
        </div>
</div>